.App {
  text-align: center;
  color: beige;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.app-content{
  /* display: flex; */
  align-items: center;
}

.menu {
  position: fixed;
  top: 0;
  left: -30%; /* start off-screen */
  width: 25%; /* adjust width as needed */
  height: 100%;
  background-color: grey;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: left 0.3s ease;
}

.menu.open{
  left: 0;
}

.close-menu{
  text-align: left;
}

.close-menu button{
  background-color: transparent;
  font-size: 50px;
  border: 1px solid black;
  border-radius: 8px;
  margin-top: 2px;
  margin-left: 2px;
}

.close-menu button:hover{
  background-color: rgb(175, 171, 171);
}