.headband{
    background-color: rgb(69, 137, 238);
    margin: 0;
    /* border-radius: 0 0 8px 8px; */
    font-size: 15px;
    display: flex;
    justify-content: center;
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 12; /* Adjust the z-index as needed */
}


.close-menu{
    text-align: left;
    width: 10%;
    align-self: center;
}
  
.close-menu button{
background-color: transparent;
font-size: 50px;
border: 1px solid black;
border-radius: 8px;
margin-top: 2px;
margin-left: 2px;
}

.close-menu button:hover{
background-color: rgb(175, 171, 171);
}

.headerband-appname{
    width: 40%;
    text-align: center;
    align-self: center;
}

.headband-username{
    width: 25%;
    text-align: center;
    align-self: center;
}

.headband-logout{
    width: 25%;
    text-align: right;
    align-self: center;
}

.headband-logout button{
    background-color: rgb(221, 101, 101);
    border-radius: 5px;
    color: beige;
    font-size: 20px;
    padding: 2% 6%;
    margin-right: 5px;
}

.headband-logout button:hover{
    background-color: rgb(170, 83, 22);
}