.navbar nav{
    padding: 10px 0;
}

.navbar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar li{
    display:list-item;
}

.navbar a{
    margin-bottom : 1%;
    color:beige;
    padding: 10px;
    text-decoration: none;
    font-size: 20px;
    background-color: rgb(69, 137, 238);
    /* border: 1px solid red; */
    display: block;
}

.navbar a:hover{
    background-color: rgb(170, 83, 22);
}

.active{
    background-color: grey;
}

.navbar{
    padding-top: 5%;
    border-radius: 8px;
    background-color: gray;
}

.close-button{
    text-align: right;
    /* border: 2px solid red; */
    align-self : center;
}

.close-button button{
    background-color: transparent;
    /* outline: none; */
    border: 1px solid black;
    border-radius: 8px;
    font-size: 50px;
}

.close-button button:hover{
    background-color: rgb(175, 171, 171);
}

.navbar-title{
    text-align: center;
    padding-left: 1%;
    width: calc(100vh - 60px);
}

.navbar-fixed{
    display: flex;
}

.navbar-mobile{
    height: calc(100vh - 90px); /* Adjust height to fit remaining space */
    overflow-y: auto; /* Enable scrolling */
    /* border: solid 2px red; */
}